<div class="container my-4 p-4 bg-light border rounded-3 shadow-sm" style="height: 80vh;">
    <div class="tabs mt-1">
        <button class="tab-btn"  [class.active]="activeTab === 'personal'" disabled >
            Personal Details
        </button>
        <button class="tab-btn" [class.active]="activeTab === 'employment'" disabled >
            Employment Details
        </button>
    </div>
    <div class="mt-3">
        <div class="scroll-wrapper p-3" style="position: relative; height: 55vh;" *ngIf="activeTab === 'personal'">
            <ng-scrollbar style="height: 55vh;">
                <h5 class="mt-2">Employee Details</h5>
                <form [formGroup]="detailsForm" class="mt-4">
                    <div class="form-grid">
                        <div>
                            <label>Employee Code</label>
                            <input type="text" formControlName="employeeId" />
                        </div>
                        <div>
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" />
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" />
                        </div>
                        <div>
                            <label>Date of Birth</label>
                            <input type="date" formControlName="dob" />
                        </div>
                        <div>
                            <label>Gender</label>
                            <select formControlName="gender">
                                <option value="" disabled>--Select Gender Type--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div>
                            <label>Marital Status</label>
                            <select formControlName="maritalStatus">
                                <option value="" disabled>--Select Marital Status--</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                            </select>
                        </div>
                        <div>
                            <label>Nationality</label>
                            <select formControlName="nationality">
                                <option value="" disabled class="dropdown">--Select Nationality--</option>
                                <option value="Indian" class="dropdown">Indian</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                        <h5>Contact Details</h5>
                        <div class="mt-4">
                            <div class="form-grid">

                                <div>
                                    <label>Phone Number</label>
                                    <input type="text" formControlName="phoneNumber" />
                                </div>
                                <div>
                                    <label>Alternate Number</label>
                                    <input type="text" formControlName="alternateNumber" />
                                </div>
                                <div>
                                    <label>Email</label>
                                    <input type="email" formControlName="email" />
                                </div>
                                <div>
                                    <label>Street Address</label>
                                    <input type="text" formControlName="streetAddress" />
                                </div>
                                <div>
                                    <label>City</label>
                                    <input type="text" formControlName="city" />
                                </div>
                                <div>
                                    <label>State</label>
                                    <input type="text" formControlName="state" />
                                </div>
                                <div>
                                    <label>Zip Code</label>
                                    <input type="text" formControlName="zipCode">
                                </div>
                                <div>
                                    <label>Country</label>
                                    <input type="text" formControlName="country">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                        <h5>Team Details</h5>
                        <div class="mt-4">
                            <div class="form-grid mt-4 mb-3">
                                <div>
                                    <label>Role</label>
                                    <select formControlName="role">
                                        <option value="">--Select Role--</option>
                                        <option value="developer">Developer</option>
                                        <option value="qa">QA</option>
                                        <option value="teamLead">Team Lead</option>
                                        <option value="projectManager">Project Manager</option>
                                        <option value="teamManager">Team Manager</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Team and HR Head</label>
                                    <select formControlName="teamManager">
                                        <option value="" disabled>--Select Team Manager--</option>
                                        <option value="">Manikandan Natarajan</option>
                                        <option value="">Krishnakumar Gajain</option>
                                        <option value="">Rajesh Doraiappa</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Project Manager</label>
                                    <select formControlName="projectManager">
                                        <option value="" disabled>--Select Project Manager--</option>
                                        <option value="">Ramesh Thulasingam</option>
                                        <option value="">Dinesh Vidhyasagar</option>
                                        <option value="">Ganesh Gunasekaran</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Team Lead</label>
                                    <select formControlName="teamLead">
                                        <option value="" disabled>--Select Team Lead--</option>
                                        <option value="">TL1</option>
                                        <option value="">TL2</option>
                                        <option value="">TL3</option>
                                        <option value="">TL4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-scrollbar>
        </div>
        <div class="scroll-wrapper p-3" style="position: relative; height: 55vh;" *ngIf="activeTab === 'employment'">
            <ng-scrollbar style="height: 55vh;">
                <h5 class="mt-2">Job Details</h5>
                <form [formGroup]="detailsForm" class="mt-4">
                    <div class="form-grid">
                        <div>
                            <label for="jobTitle">Job Title</label>
                            <input type="text" name="jobTitle" id="jobTitle" formControlName="jobTitle" />
                        </div>
                        <div>
                            <label for="employmentStatus">Employment Status</label>
                            <select class="form-select text-start" formControlName="employmentStatus">
                                <option value="" disabled>--Select Employment Status--</option>
                                <option value="trainee">Trainee</option>
                                <option value="contract">Contract</option>
                                <option value="permanent">Permanent</option>
                            </select>
                          
                        </div>
                        <div>
                            <label for="joinedDate">Join Date</label>
                            <input type="Date" name="joinedDate" id="joinedDate" formControlName="joinedDate" />
                        </div>
                        <div>
                            <label for="skillset">Skillset</label>
                            <input type="text" name="skillset" id="skillset" formControlName="skillset" />
                        </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                        <h5>Salary Details</h5>
                        <div class="mt-4">
                            <div class="form-grid mb-3">
                                <div>
                                    <label for="payGrade">Pay Grade</label>
                                    <input type="text" name="payGrade" id="payGrade" formControlName="payGrade" />
                                </div>
                                <div>
                                    <label>Currency</label>
                                    <select class="form-select text-start" formControlName="currency">
                                        <option value="" disabled>--Select Currency--</option>
                                        <option value="Rupee">Rupee</option>
                                        <option value="Dollar">Dollar</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="basicSalary">Basic Salary</label>
                                    <input type="text" name="basicSalary" id="basicSalary"
                                        formControlName="basicSalary" />
                                </div>
                                <div>
                                    <label>Pay Frequency</label>
                                    <select class="form-select text-start" formControlName="payFrequency">
                                        <option value="" disabled>--Select Pay Frequency--</option>
                                        <option value="Daily">Daily</option>
                                        <option value="Weekly">Weekly</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-scrollbar>
        </div>
    </div>
    <div class="buttons mt-4  text-end" *ngIf="activeTab==='personal'">
        <button class="btn submit" (click)="navButtons('next')">Next</button>
    </div>
    <div class="buttons mt-4  text-end" *ngIf="activeTab==='employment'">
        <div class="d-flex justify-content-between">
            <button class="btn submit" (click)="navButtons('previous')">Previous</button>
            <button class="btn submit" (click)="navButtons('save')">Save</button>
        </div>
    </div>
</div>