<div class="container my-4 p-4 bg-light border rounded-3 shadow-sm" style="height: 80vh;">
    <div class="tabs mt-1 d-flex justify-content-between">
        <div>
            <button class="tab-btn me-3" [class.active]="activeTab === 'personal'" disabled>
                Personal Details
            </button>
            <button class="tab-btn" [class.active]="activeTab === 'employment'" disabled>
                Employment Details
            </button>
        </div>
        <div>
            <button class="btn btn-danger" *ngIf="isEdit" (click)="viewOrEdit('Edit')">
                <i class="bi bi-pencil-square"></i> Edit
            </button>
            <button class="btn btn-secondary" *ngIf="!isEdit" (click)="viewOrEdit('View')">
                <i class="bi bi-binoculars"></i> View
            </button>
        </div>


    </div>

    <div class="mt-3">
        <div class="scroll-wrapper p-3" style="position: relative; height: 55vh;" *ngIf="activeTab === 'personal'">
            <ng-scrollbar style="height: 55vh;">
                <h5 class="mt-2">Employee Details</h5>
                <form [formGroup]="detailsForm" class="mt-4">

                    <div class="form-grid">
                        <div>
                            <label>Employee Code</label>
                            <input [ngClass]="{ required: detailsForm.controls['empCode'].errors }" type="text"
                                formControlName="empCode" (input)="onEmpCodeInput($event)" />
                        </div>
                        <div>
                            <label>Employee Status</label>
                            <select formControlName="empStatus">
                                <option *ngFor="let empStatus of empStatus$ |async" [ngValue]="empStatus.code">
                                    {{empStatus.screenName}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <label>First Name</label>
                            <input [ngClass]="{ required: detailsForm.controls['firstName'].errors }" type="text"
                                formControlName="firstName" />
                        </div>
                        <div>
                            <label>Last Name</label>
                            <input [ngClass]="{ required: detailsForm.controls['lastName'].errors }" type="text"
                                formControlName="lastName" />
                        </div>
                        <div>
                            <label>Date of Birth</label>
                            <input [ngClass]="{ required: detailsForm.controls['dateOfBirth'].errors }" type="date"
                                formControlName="dateOfBirth" />
                        </div>


                        <div>
                            <label>Gender</label>
                            <select formControlName="gender"
                                [ngClass]="{ required: detailsForm.controls['gender'].errors }">
                                <option value="" disabled>--Select Gender Type--</option>
                                <option *ngFor="let gender of genderList$ | async" [ngValue]="gender.code">
                                    {{gender.screenName}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <label>Marital Status</label>
                            <select formControlName="maritalStatus"
                                [ngClass]="{ required: detailsForm.controls['maritalStatus'].errors }">
                                <option value="" disabled>--Select Marital Status--</option>
                                <option *ngFor="let maritalStatus of maritalStatus$ | async"
                                    [ngValue]="maritalStatus.code">
                                    {{maritalStatus.screenName}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <label>Nationality</label>
                            <select formControlName="nationality"
                                [ngClass]="{ required: detailsForm.controls['nationality'].errors }">
                                <option value="" disabled class="dropdown">--Select Nationality--</option>
                                <option value="Indian" class="dropdown">Indian</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                        <h5>Contact Details</h5>
                        <div class="mt-4">
                            <div class="form-grid">

                                <div>
                                    <label>Phone Number</label>
                                    <input type="text" formControlName="phoneNumber"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10"
                                        [ngClass]="{ required: detailsForm.controls['phoneNumber'].errors }" />
                                </div>
                                <div>
                                    <label>Alternate Number</label>
                                    <input type="text" formControlName="alternateNumber"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10"
                                        [ngClass]="{ required: detailsForm.controls['alternateNumber'].errors }" />
                                </div>
                                <div>
                                    <label>Email</label>
                                    <input type="email" formControlName="email"
                                        [ngClass]="{ required: detailsForm.controls['email'].errors }" />
                                </div>
                                <div>
                                    <label>Street Address</label>
                                    <input type="text" formControlName="streetAddress"
                                        [ngClass]="{ required: detailsForm.controls['streetAddress'].errors }" />
                                </div>
                                <div>
                                    <label>City</label>
                                    <select formControlName="city"
                                        [ngClass]="{ required: detailsForm.controls['city'].errors }">
                                        <option value="">--Select City--</option>
                                        <option *ngFor="let city of cityList$|async" [ngValue]="city.code">
                                            {{city.screenName}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label>State</label>
                                    <select formControlName="state"
                                        [ngClass]="{ required: detailsForm.controls['state'].errors }">
                                        <option value="">--Select State--</option>
                                        <option *ngFor="let state of stateList$|async" [ngValue]="state.code">
                                            {{state.screenName}}
                                        </option>
                                    </select>

                                </div>
                                <div>
                                    <label>Zip Code</label>
                                    <input type="text" formControlName="zipCode"
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="6"
                                        [ngClass]="{ required: detailsForm.controls['zipCode'].errors }" />
                                </div>
                                <div>
                                    <label>Country</label>
                                    <select formControlName="country"
                                        [ngClass]="{ required: detailsForm.controls['country'].errors }">
                                        <option value="">--Select Country--</option>
                                        <option *ngFor="let country of countryList$|async" [ngValue]="country.code">
                                            {{country.screenName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                        <h5>Team Details</h5>
                        <div class="mt-4">
                            <div class="form-grid mt-4 mb-3">
                                <div>
                                    <label>Designation</label>
                                    <select formControlName="designation"
                                        [ngClass]="{ required: detailsForm.controls['designation'].errors }">
                                        <option value="">--Select Role--</option>
                                        <option *ngFor="let role of role$|async" [ngValue]="role.code">
                                            {{role.screenName}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label>Team and HR Head</label>
                                    <select formControlName="teamHRHead"
                                        [ngClass]="{required: detailsForm.controls['teamHRHead'].errors}">
                                        <option value="">--Select Team Manager--</option>
                                        <option *ngFor="let teamHRHead of teamHRHead$|async"
                                            [ngValue]="teamHRHead.code">
                                            {{teamHRHead.screenName}}
                                        </option>
                                        <!-- <option value="TM1">Manikandan Natarajan</option>
                                        <option value="TM2">Krishnakumar Gajain</option>
                                        <option value="TM3">Rajesh Doraiappa</option> -->
                                    </select>
                                </div>
                                <div>
                                    <label>Project Manager</label>
                                    <select formControlName="projectManager"
                                        [ngClass]="{ required: detailsForm.controls['projectManager'].errors }">
                                        <option value="">--Select Project Manager--</option>
                                        <option *ngFor="let projectManager of projectManager$|async"
                                            [ngValue]="projectManager.code">
                                            {{projectManager.screenName}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label>Team Lead</label>
                                    <select formControlName="teamLead"
                                        [ngClass]="{ required: detailsForm.controls['teamLead'].errors }">
                                        <option value="">--Select Team Lead--</option>
                                        <option *ngFor="let teamLead of teamLead$|async" [ngValue]="teamLead.code">
                                            {{teamLead.screenName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-scrollbar>
        </div>
        <div class="scroll-wrapper p-3" style="position: relative; height: 55vh;" *ngIf="activeTab === 'employment'">
            <ng-scrollbar style="height: 55vh;">
                <h5 class="mt-2">Job Details</h5>
                <form [formGroup]="detailsForm" class="mt-4">
                    <div class="form-grid">
                        <div>
                            <label for="jobTitle">Job Title</label>
                            <input type="text" name="jobTitle" id="jobTitle" formControlName="jobTitle"
                                [ngClass]="{ required: detailsForm.controls['jobTitle'].errors }" />
                        </div>
                        <div>
                            <label for="employmentStatus">Employment Status</label>
                            <select class="form-select text-start" formControlName="employmentStatus"
                                [ngClass]="{ required: detailsForm.controls['employmentStatus'].errors }">
                                <option value="" disabled>--Select Employment Status--</option>
                                <option *ngFor="let employmentStatus of emptStatus$ | async"
                                    [ngValue]="employmentStatus.code">
                                    {{employmentStatus.screenName}}
                                </option>
                            </select>

                        </div>
                        <div>
                            <label for="joinedDate">Join Date</label>
                            <input type="Date" name="joinedDate" id="joinedDate" formControlName="joinedDate"
                                [ngClass]="{ required: detailsForm.controls['joinedDate'].errors }" />
                        </div>
                        <div>
                            <label for="skillset">Skillset</label>
                            <input type="text" name="skillset" id="skillset" formControlName="skillset"
                                [ngClass]="{ required: detailsForm.controls['skillset'].errors }" />
                        </div>
                    </div>
                    <hr>
                    <div class="mt-4">
                        <h5>Salary Details</h5>
                        <div class="mt-4">
                            <div class="form-grid mb-3">
                                <div>
                                    <label for="payGrade">Pay Grade</label>
                                    <input type="text" name="payGrade" id="payGrade" formControlName="payGrade"
                                        [ngClass]="{ required: detailsForm.controls['payGrade'].errors }" />
                                </div>
                                <div>
                                    <label>Currency</label>
                                    <select class="form-select text-start" formControlName="currency"
                                        [ngClass]="{ required: detailsForm.controls['currency'].errors }">
                                        <option value="" disabled>--Select Currency--</option>
                                        <option *ngFor="let currency of currency$ |async" [ngValue]="currency.code">
                                            {{currency.screenName}}
                                        </option>
                                    </select>
                                </div>

                                <div>
                                    <label for="basicSalary">Basic Salary</label>
                                    <input type="text" name="basicSalary" id="basicSalary" formControlName="basicSalary"
                                        [ngClass]="{ required: detailsForm.controls['basicSalary'].errors }" />
                                </div>
                                <div>
                                    <label>Pay Frequency</label>
                                    <select class="form-select text-start" formControlName="payFrequency"
                                        [ngClass]="{ required: detailsForm.controls['payFrequency'].errors }">
                                        <option value="" disabled>--Select Pay Frequency--</option>
                                        <option *ngFor=" let payFrequency of payFrequency$ |async"
                                            [ngValue]="payFrequency.code">
                                            {{payFrequency.screenName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-scrollbar>
        </div>
    </div>
    <div class="buttons mt-4  text-end" *ngIf="activeTab==='personal'">
        <button class="btn-sm btn submit" (click)="navButtons('next')">Next</button>
        <!-- [disabled]="!isPersonalDetailsValid -->
    </div>
    <div class="buttons mt-4  text-end" *ngIf="activeTab==='employment'">
        <div class="d-flex justify-content-between">
            <button class="btn-sm btn submit" (click)="navButtons('previous')">Previous</button>
            <button *ngIf="!this.detailsForm.get('empPk').value" class="btn-sm btn submit" (click)="navButtons('save')">Save</button>
            <button *ngIf="this.detailsForm.get('empPk').value" class="btn-sm btn submit" (click)="navButtons('update')">Update</button>
            <!-- [disabled]="!isEmployeeDetailsValid" -->
        </div>
    </div>
</div>