/* .custom-details .nav-link:hover {
  background-color: #f0f4f8;
  color: #1f7ec1;
}

.custom-details .nav-link.active {
  background-color: #289ee4;
  color: white;
}
 */
 
 .personal{
  width: 60% !important;
 }