<ng-template #popContent>
  <div class="list-group">
    <button type="button" class="btn" *ngFor="let link of actionLinks"  (click)="triggerEvent(link)">
      {{ link.screenName }}
    </button>
  </div>
</ng-template>


<button type="button" class="btn btn-sm btn-outline-light btn-icon dice-menu" [ngbPopover]="popContent"
  [placement]="position" [disabled]="actionLinks === null || actionLinks === []" container="body" title="Dice Menu" (click)="onActionClick()">
  <i class="bi bi-grid-fill text-primary"></i>
</button>