<div class="m-5">
    <div class="m-5">
        <h4>Personal Details</h4>

        <div class="tabs mb-3 mt-4">
            <button class="tab-btn" [class.active]="activeTab === 'employee'" (click)="switchTab('employee')">
                Employee Details
            </button>
            <button class="tab-btn" [class.active]="activeTab === 'contact'" (click)="switchTab('contact')">
                Contact Details
            </button>
            <button class="tab-btn" [class.active]="activeTab === 'team'" (click)="switchTab('team')">
                Team Details
            </button>
        </div>
        <form [formGroup]="employeeForm" *ngIf="activeTab === 'employee'" class="mt-4">
            <div class="form-grid">
                <div>
                    <label>Employee ID</label>
                    <input type="text" readonly formControlName="employeeId" />
                </div>
                <div>
                    <label>First Name</label>
                    <input type="text" readonly formControlName="firstName"/>
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" readonly formControlName="lastName"/>
                </div>
                <div>
                    <label>Date of Birth</label>
                    <input type="date" readonly formControlName="dob" />
                </div>
                <div>
                    <label>Gender</label>
                    <select formControlName="gender">
                        <option value="" disabled >--Select Gender Type--</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" readonly formControlName="email" />
                </div>
                <div>
                    <label>Marital Status</label>
                    <select formControlName="maritalStatus" >
                        <option value="" disabled >--Select Marital Status--</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                    </select>
                </div>
                <div>
                    <label>Nationality</label>
                    <select formControlName="nationality">
                        <option value="" disabled class="dropdown">--Select Nationality--</option>
                        <option value="Indian" class="dropdown">Indian</option>
                    </select>
                </div>
            </div>
        </form>


        <form [formGroup]="contactForm" *ngIf="activeTab === 'contact'" class="mt-4">
            <div class="form-grid">
                <div>
                    <label>Employee ID</label>
                    <input type="text" readonly formControlName="employeeId" />
                </div>
                <div>
                    <label>Phone Number</label>
                    <input type="text" readonly formControlName="phoneNumber"/>
                </div>
                <div>
                    <label>Alternate Number</label>
                    <input type="text" readonly formControlName="alternateNumber"/>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" readonly formControlName="email"/>
                </div>
                <div>
                    <label>Street Address</label>
                    <input type="text" readonly formControlName="streetAddress"/>
                </div>
                <div>
                    <label>City</label>
                    <input type="text" readonly formControlName="city"/>
                </div>
                <div>
                    <label>State</label>
                    <input type="text" readonly formControlName="state"/>
                </div>
                <div>
                    <label>Zip Code</label>
                    <input type="text" readonly formControlName="zipCode">
                </div>
                <div>
                    <label>Country</label>
                    <input type="text" readonly formControlName="country">
                </div>
            </div>
        </form>
        <form [formGroup]="teamsForm" *ngIf="activeTab ==='team' ">
            <div class="form-grid">
                <div>
                    <label>Employee ID</label>
                    <input type="text" readonly formControlName="employeeId" />
                </div>
                <div>
                    <label>Role</label>
                    <select formControlName="role">
                        <option value="">--Select Role--</option>
                        <option value="developer">Developer</option>
                        <option value="qa">QA</option>
                        <option value="teamLead">Team Lead</option>
                        <option value="projectManager">Project Manager</option>
                        <option value="teamManager">Team Manager</option>
                    </select>
                </div>
            </div>
             <div class="form-grid mt-4">
                <div>
                    <label>Team and HR Head</label>
                    <select formControlName="teamManager">
                        <option value="" disabled>--Select Team Manager--</option>
                        <option value="">Manikandan Natarajan</option>
                        <option value="">Krishnakumar Gajain</option>
                        <option value="">Rajesh Doraiappa</option>
                    </select>
                </div>
                 <div>
                    <label>Project Manager</label>
                    <select formControlName="projectManager">
                        <option value="" disabled>--Select Project Manager--</option>
                        <option value="">Ramesh Thulasingam</option>
                        <option value="">Dinesh Vidhyasagar</option>
                        <option value="">Ganesh Gunasekaran</option>
                    </select>
                </div>
                   <div>
                    <label>Team Lead</label>
                    <select formControlName="teamLead">
                        <option value="" disabled>--Select Team Lead--</option>
                        <option value="">TL1</option>
                        <option value="">TL2</option>
                        <option value="">TL3</option>
                        <option value="">TL4</option>
                    </select>
                </div>
             </div>
        </form>

        <!-- <div class="buttons mt-4">
            <button class="btn submit" (click)="onSubmit()">Submit</button>
        </div> -->
    </div>
</div>