<div class="m-5">
    <div class="m-5">
        <h4>Personal Details</h4>

        <div class="tabs mb-3 mt-4">
            <button class="tab-btn"  [class.active]="activeTab === 'employee'" (click)="switchTab('employee')">
                Employee Details
            </button>
            <button class="tab-btn" [class.active]="activeTab === 'contact'" (click)="switchTab('contact')">
                Contact Details
            </button>
            <button class="tab-btn" [class.active]="activeTab === 'team'" (click)="switchTab('team')">
                Team Details
            </button>
        </div>
        <form [formGroup]="employeeForm" *ngIf="activeTab === 'employee'" class="mt-4">
            <div class="form-grid">
                <div>
                    <label for="empCode" >Employee Code</label>
                    <input type="text" readonly formControlName="empCode" name="empCode" id="empCode" readonly/>
                </div>
                <div>
                    <label for="firstName" >First Name</label>
                    <input type="text" readonly formControlName="firstName" name="firstName" id="firstName" readonly/>
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" readonly formControlName="lastName" name="lastName" id="lastName" readonly />
                </div>
                <div>
                    <label for="dob">Date of Birth</label>
                    <input type="date" readonly formControlName="dob" name="dob" id="dob" readonly/>
                </div>
                <div>
                    <label>Gender</label>
                    <select formControlName="gender" [ngClass]="{ required: employeeForm.controls['gender'].errors }">
                        <option value="" disabled>--Select Gender Type--</option>
                        <option *ngFor="let gender of genderList$ | async" [ngValue]="gender.code">
                            {{gender.screenName}}
                        </option>
                    </select>
                </div>
                 <div>
                            <label>Marital Status</label>
                            <select formControlName="maritalStatus"
                                [ngClass]="{ required: employeeForm.controls['maritalStatus'].errors }">
                                <option value="" disabled>--Select Marital Status--</option>
                                <option *ngFor="let maritalStatus of maritalStatus$ | async" [ngValue]="maritalStatus.code">
                                    {{maritalStatus.screenName}}
                                </option>
                            </select>
                        </div>
                <div>
                    <label for="nationality">Nationality</label>
                    <input type="text" readonly formControlName="nationality" name="nationality" id="nationality" readonly/>
                </div>
            </div>
        </form>


        <form [formGroup]="contactForm" *ngIf="activeTab === 'contact'" class="mt-4">
            <div class="form-grid">
                <div>
                    <label for="empCode">Employee Code</label>
                    <input type="text" readonly formControlName="empCode" name="empCode" id="empCode" readonly/>
                </div>
                <div>
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" readonly formControlName="phoneNumber" name="phoneNumber" id="phoneNumber" readonly/>
                </div>
                <div>
                    <label for="alternateNumber">Alternate Number</label>
                    <input type="text" readonly formControlName="alternateNumber" name="alternateNumber" id="alternateNumber" readonly/>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" readonly formControlName="email" name="email" id="email" readonly/>
                </div>
                <div>
                    <label for="streetAddress">Street Address</label>
                    <input type="text" readonly formControlName="streetAddress" name="streetAddress" id="streetAddress" readonly/>
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" readonly formControlName="city" name="city" id="city" readonly/>
                </div>
                <div>
                    <label for="state">State</label>
                    <input type="text" readonly formControlName="state" name="state" id="state" readonly/>
                </div>
                <div>
                    <label for="zipCode">Zip Code</label>
                    <input type="text" readonly formControlName="zipCode" name="zipCode" id="zipCode" readonly />
                </div>
                <div>
                    <label for="country">Country</label>
                    <input type="text" readonly formControlName="country" name="country" id="country" readonly />
                </div>
            </div>
        </form>
        <form [formGroup]="teamsForm" *ngIf="activeTab==='team'" class="mt-4" >
            <div class="form-grid">
                <div>
                    <label for="empCode">Employee Code</label>
                    <input type="text" readonly formControlName="empCode" name="empCode" id="empCode" readonly/>
                </div>
               <div>
                                    <label>Designation</label>
                                    <select formControlName="designation"
                                        [ngClass]="{ required: teamsForm.controls['designation'].errors }">
                                        <option value="">--Select Role--</option>
                                        <option *ngFor="let role of role$|async" [ngValue]="role.code">
                                            {{role.screenName}}
                                        </option>
                                    </select>
                                </div>
            </div>
            <div class="form-grid mt-4">
                <div>
                    <label for="teamAndHrHead">Team and HR Head</label>
                    <input type="text" readonly formControlName="teamAndHrHead" name="teamAndHrHead" id="teamAndHrHead" readonly />
                    <!-- <select formControlName="teamManager">
                        <option value="" disabled>--Select Team Manager--</option>
                        <option value="">Manikandan Natarajan</option>
                        <option value="">Krishnakumar Gajain</option>
                        <option value="">Rajesh Doraiappa</option>
                    </select> -->
                </div>
                 <div>
                    <label for="projectManager">Project Manager</label>
                    <input type="text" readonly formControlName="projectManager" name="projectManager" id="projectManager" readonly />
                    <!-- <select formControlName="projectManager">
                        <option value="" disabled>--Select Project Manager--</option>
                        <option value="">Ramesh Thulasingam</option>
                        <option value="">Dinesh Vidhyasagar</option>
                        <option value="">Ganesh Gunasekaran</option>
                    </select> -->
                </div>
                   <div>
                    <label for="teamLead">Team Lead</label>
                    <input type="text" readonly formControlName="teamLead" name="teamLead" id="teamLead" readonly />
                    <!-- <select formControlName="teamLead">
                        <option value="" disabled>--Select Team Lead--</option>
                        <option value="">TL1</option>
                        <option value="">TL2</option>
                        <option value="">TL3</option>
                        <option value="">TL4</option>
                    </select> -->
                </div>
             </div>
        </form>

        <!-- <div class="buttons mt-4">
            <button class="btn submit" (click)="onSubmit()">Submit</button>
        </div> -->
    </div>
</div>