<div class="mb-4">
  <label for="employeeSelect">Search Employee.</label>

  <ng-select
      id="employeeSelect"
      [items]="filteredEmployees"
      bindLabel="fullName"
      bindValue="empCode"
      placeholder="Search by Employee Name"
      [(ngModel)]="selectedEmployeeId"
      [typeahead]="employeeInput$"
      [searchFn]="customSearchFn"
      (change)="onEmployeeSelect()"
      style="width:300px"
      class="ng-select-input">

      <ng-template ng-option-tmp let-item="item">
        {{ item.empCode }} - {{ item.fullName }}
      </ng-template>
  </ng-select>
</div>

<div style="width: 100%; height: 27rem;">
    <ag-grid-angular [columnDefs]="columnDefs" [rowData]="filteredRowData" [pagination]="true"
        [defaultColDef]="defaultColDef" style="width: 100%; height: 100%;" [suppressCellFocus]="true">
    </ag-grid-angular>
</div>

<!-- AG Grid -->
<!-- <div style="width: 100%; height: 350px;" class="mt-5">
    <ag-grid-angular [columnDefs]="columnDefs" [rowData]="filteredRowData" [pagination]="true"
        [defaultColDef]="defaultColDef" style="width: 100%; height: 100%;" [suppressCellFocus]="true">
    </ag-grid-angular>
</div> -->

<!-- [ngClass]="isDarkMode ? 'ag-theme-alpine-dark' : 'ag-theme-alpine'"  -->