<div class="m-5">
    <div class="m-5">
        <h4>Employment Details</h4>
        <div class="tabs mb-3 mt-4">
            <button class="tab-btn" [class.active]="activeTab === 'job'" (click)="switchTab('job')">
                Job Details
            </button>
            <button class="tab-btn" [class.active]="activeTab === 'salary'" (click)="switchTab('salary')">
                Salary Details
            </button>
        </div>

        <form [formGroup]="jobForm" *ngIf="activeTab==='job'" class="mt-4">
            <div class="form-grid">
                <div>
                    <label for="empCode">Employee Code</label>
                    <input type="text" name="empCode" id="empCode" formControlName="empCode" readonly />
                </div>
                <div>
                    <label for="jobTitle">Job Title</label>
                    <input type="text" name="jobTitle" id="jobTitle" formControlName="jobTitle" readonly />
                </div>
                <div>
                    <label>Employement Status</label>
                    <select formControlName="employmentStatus">
                        <option *ngFor="let employmentStatus of emptStatus$ |async" [ngValue]="employmentStatus.code">
                            {{employmentStatus.screenName}}
                        </option>
                        <!-- <option value="ACTIVE">Active</option>
                                <option value="CLOSED">Closed</option> -->
                    </select>
                </div>
                <!-- <div>
                    <label for="employmentStatus">Employment Status</label> -->
                <!-- <select class="form-select text-start" formControlName="employmentStatus">
                        <option value="" disabled>--Select Employment Status--</option>
                        <option value="trainee">Trainee</option>
                        <option value="contract">Contract</option>
                        <option value="permanent">Permanent</option>
                    </select> -->
                <!-- <input type="text" name="employmentStatus" id="employmentStatus" formControlName="employmentStatus"/>
                </div> -->
                <div>
                    <label for="joinedDate">Join Date</label>
                    <input type="Date" name="joinedDate" id="joinedDate" formControlName="joinedDate" readonly />
                </div>
                <div>
                    <label for="skillset">Skillset</label>
                    <input type="text" name="skillset" id="skillset" formControlName="skillset" readonly />
                </div>
            </div>
        </form>

        <form [formGroup]="salaryForm" *ngIf="activeTab==='salary'" class="mt-4">
            <div class="form-grid">
                <div>
                    <label for="empCode">Employee Code</label>
                    <input type="text" name="empCode" id="empCode" formControlName="empCode" readonly />
                </div>
                <div>
                    <label for="payGrade">Pay Grade</label>
                    <input type="text" name="payGrade" id="payGrade" formControlName="payGrade" readonly />
                </div>
                <!-- <div>
                    <label for="currency">Currency</label>
                    <input type="number" name="currency" id="currency" formControlName="currency"/>
                </div> -->
                <div>
                    <label>Currency</label>
                    <select formControlName="currency"
                        [ngClass]="{ required: salaryForm.controls['currency'].errors }">
                        <option value=""  >--Select Currency--</option>
                        <option *ngFor="let currency of currency$ |async" [ngValue]="currency.code">
                            {{currency.screenName}}
                        </option>
                        <!-- <option value="Rupee">Rupee</option>
                                        <option value="Dollar">Dollar</option> -->
                    </select>
                </div>

                <div>
                    <label for="basicSalary">Basic Salary</label>
                    <input type="text" name="basicSalary" id="basicSalary" formControlName="basicSalary" readonly />
                </div>
                <div>
                    <label>Pay Frequency</label>
                    <select  formControlName="payFrequency"
                        [ngClass]="{ required: salaryForm.controls['payFrequency'].errors }">
                        <option value="" disabled>--Select Pay Frequency--</option>
                        <option *ngFor=" let payFrequency of payFrequency$ |async" [ngValue]="payFrequency.code">
                            {{payFrequency.screenName}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <!-- <div class="buttons mt-4">
            <button class="btn submit" (click)="onSubmit()">Submit</button>
        </div> -->
    </div>
</div>