.card {
  background: #fff;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  will-change: transform;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  transform: translateY(-4px);
}


img.rounded-circle {
  object-fit: cover;
}

.badge {
  font-size: 0.85rem;
  padding: 0.5em 0.75em;
  border-radius: 1rem;
}
/* .btn-primary {
  background-color:#1f7ec1 ;
  color:  #f0f4f8;
} 
.btn-info{
  color:  #f0f4f8; */
  /* background-color: #1570b8 !important; */


/* .tab-btn {
  font-size: 0.85rem;
  padding: 0.35rem 1rem;
  background-color: #f1f1f1;
  border-radius: 999px;
  cursor: pointer;
  color: #6c757d;
}

.tab-btn.active {
  background-color: #289ee4;
  color: white;
}

.tab-btn:hover {
  background-color: #f0f4f8;
  color: #1f7ec1;
}   */


button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 6px 18px;
  border-radius: 8px;
  font-size: 0.85rem;
  transition: background 0.2s ease-in-out;
}

.deny {
  background-color: #fff;
  color: #289ee4;
  border: 1px solid #cce7f8;
}

.deny:hover {
  background-color: #eaf6ff;
}

.approve {
  background-color: #289ee4;
  color: #fff;
}

.approve:hover {
  background-color: #148ed4;
}
