<div class="container mt-4">
  <!-- Tabs -->
  <div class="tabs mt-4">
    <button class="tab-btn mb-4 me-3" [class.active]="activeTab === 'requestPending'"
      (click)="switchTab('requestPending')">
      Request Pending
    </button>
    <button class="tab-btn mb-4 me-3" [class.active]="activeTab === 'requestCompleted'"
      (click)="switchTab('requestCompleted')">
      Request Completed
    </button>
  </div>
  <!-- Leave Cards -->
  <ng-container *ngIf="activeTab === 'requestPending'">
    <ng-scrollbar style="height: 65vh;">
      <div *ngIf="!requestPending || requestPending.length === 0"
        class="d-flex justify-content-center align-items-center mt-5">
        <h5>
          No Pending Requests
        </h5>
      </div>
      <div class="row g-4 mt-2">
        <div class="col-md-6" *ngFor="let request of requestPending">
          <div class="card shadow-sm border-0 rounded-3 p-3" style="font-size: 0.85rem;">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex align-items-center">
                <img [src]="request.imageUrl" class="rounded-circle me-3" width="50" height="50" alt="User avatar" />
                <div>
                  <h6 class="mb-0">{{ request.fullName }}</h6>
                  <small class="text-muted">{{ request.designation }}</small>
                </div>
              </div>
              <div class="text-end">
                <span class="badge bg-light text-secondary border me-1">
                  {{ request.leaveType }}
                </span>
                <span class="badge bg-light text-secondary border">
                  {{ request.duration }}
                </span>
              </div>
            </div>

            <p class="mt-3 mb-2 fw-semibold">{{ request.reason }}</p>
            <div>
              <small class="text-muted">
                {{ request.fromDate | date:'dd MMM yyyy' }} - {{ request.toDate | date:'dd MMM yyyy' }}
              </small>
            </div>

            <!-- Show action buttons only in 'requestPending' -->
            <div *ngIf="activeTab === 'requestPending'"
              class="d-flex justify-content-end align-items-center mt-1 gap-3 mt-3">
              <button class="cancel" (click)="onLeaveAction(request.LeavePK, 'CANCELLED')">Cancel</button>
              <button class="approve" (click)="onLeaveAction(request.LeavePK, 'APPROVED')">Approve</button>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </ng-container>

  <!-- requestCompleted -->
  <ng-container *ngIf="activeTab === 'requestCompleted'">
    <ng-scrollbar style="height: 65vh;">
            <div *ngIf="!requestCompleted || requestCompleted.length === 0"
        class="d-flex justify-content-center align-items-center mt-5">
        <h5>
          No Completed Requests
        </h5>
      </div>
      <div class="row g-4 mt-2">
        <div class="col-md-6" *ngFor="let request of requestCompleted">
          <div class="card shadow-sm border-0 rounded-3 p-3" style="font-size: 0.85rem; position: relative;">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex align-items-center">
                <img [src]="request.imageUrl" class="rounded-circle me-3" width="50" height="50" alt="User avatar" />
                <div>
                  <h6 class="mb-0">{{ request.fullName }}</h6>
                  <small class="text-muted">{{ request.designation }}</small>
                </div>
              </div>
              <div class="text-end">
                <span class="badge bg-light text-secondary border me-1">
                  {{ request.leaveType }}
                </span>
                <span class="badge bg-light text-secondary border">
                  {{ request.duration }}
                </span>
              </div>
            </div>

            <p class="mt-3 mb-2 fw-semibold">{{ request.reason }}</p>
            <div>
              <small class="text-muted">
                {{ request.fromDate | date:'dd MMM yyyy' }} - {{ request.toDate | date:'dd MMM yyyy' }}
              </small>
            </div>

            <div class="position-relative d-flex justify-content-between mt-3">
              <div class="mt-2 fw-semibold"
              [ngClass]="request.leaveStatus === 'APPROVED' ? 'text-success' : 'text-danger'">
                {{ request.leaveStatus === 'APPROVED' ? 'Approved' : 'Cancelled' }} by {{ request.updatedUser }}
              </div>
              <div class="status-wrapper">
                <div>
                  <!-- {{request.leaveStatus.screeName}} by  -->
                  <button class="btn btn-outline-secondary" (click)="togglePopover(request); $event.stopPropagation()">
                    {{ request.leaveStatus === 'APPROVED' ? 'Approved' : 'Cancelled' }}
                  </button>
                </div>


                <div class="custom-popover" *ngIf="activePopover === request" #popover
                  (click)="$event.stopPropagation()">
                  <div class="popover-header">
                    <strong>Change Status To</strong>
                    <span class="close-btn" (click)="closePopover()">×</span>
                  </div>
                  <div class="d-flex justify-content-between gap-2">
                    <ng-container [ngSwitch]="request.leaveStatus">
                      <ng-container *ngSwitchCase="'CANCELLED'">
                        <button class=" btn-outline"
                          (click)="changeStatus(request, 'PENDING')">Pending</button>
                        <button class=" btn-outline primary"
                          (click)="changeStatus(request, 'APPROVED')">Approve</button>
                      </ng-container>
                      <ng-container *ngSwitchCase="'APPROVED'">
                        <button class=" btn-outline"
                          (click)="changeStatus(request, 'PENDING')">Pending</button>
                        <button class=" btn-outline danger"
                          (click)="changeStatus(request, 'CANCELLED')">Cancel</button>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </ng-container>

</div>