<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-employees-list [filterType]="filterType" [colDefs]="colDefs" [rowData]="rowData"
                [defaultColDefs]="defaultColDefs" [gridApi]="gridApi" [gridColumnApi]="gridColumnApi"
                [gridOptions]="gridOptions" (applicationEventService)="handleAppEvent($event)"
                (gridReady)="onGridReady($event)">
            </app-employees-list>
        </div>
        <div class="col-md-7">

            <app-employees-form [detailsForm]="detailsForm" [activeTab]="activeTab"
                (activeTabEmit)="activeTabEmit($event)" (activeViewOrEdit)="activeViewOrEdit($event)" (handleAppEvent)="handleAppEvent($event)"  [isEdit]="isEdit"
                [empStatus$]="empStatus$" [genderList$]="genderList$" [maritalStatus$]="maritalStatus$"
                [emptStatus$]="emptStatus$" [currency$]="currency$" [payFrequency$]="payFrequency$" [role$]="role$" [teamHRHead$]="teamHRHead$" [projectManager$]="projectManager$" 
                [teamLead$]="teamLead$">

                
            </app-employees-form>
        </div>
    </div>
</div>