<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-employees-list [filterType]="filterType" [colDefs]="colDefs" [rowData]="rowData"
                [defaultColDefs]="defaultColDefs" [gridApi]="gridApi" [gridColumnApi]="gridColumnApi"
                [gridOptions]="gridOptions" (applicationEventService)="handleAppEvent($event)"
                (gridReady)="onGridReady($event)">
            </app-employees-list>
        </div>
        <div class="col-md-7">

            <app-employees-form [detailsForm]="detailsForm" [activeTab]="activeTab"
                (activeTabEmit)="activeTabEmit($event)" (activeViewOrEdit)="activeViewOrEdit($event)" (handleAppEvent)="handleAppEvent($event)"  [isEdit]="isEdit"
                [empStatus$]="empStatus$" [genderList$]="genderList$" [maritalStatus$]="maritalStatus$"
                [emptStatus$]="emptStatus$" [currency$]="currency$" [payFrequency$]="payFrequency$" [role$]="role$" [teamHRHead$]="teamHRHead$" [projectManager$]="projectManager$" 
                [teamLead$]="teamLead$" [cityList$]="cityList$" [stateList$]="stateList$" [countryList$]="countryList$">

                
            </app-employees-form>
        </div>
    </div>
</div>

<div class="toast-container position-fixed start-50 translate-middle-x top-0 mt-3" *ngIf="showSuccessToast"
  style="z-index: 1200">
  <div class="toast align-items-center text-white bg-success border-0 show" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        New Employee Added Successfully
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showSuccessToast = false"
        aria-label="Close"></button>
    </div>
  </div>
</div>