<div class="feature-wrapper"></div>

<div class="container-fluid">
  <app-top-nav (actionEmitter)="emitter($event)"></app-top-nav>

  <div class="row" style="height: calc(100vh - 80px); overflow: hidden;">

    <div class="col-md-2 p-0 h-100">
      <app-side-nav></app-side-nav>
    </div>

    <div class="col-md-10 h-100 p-2">
      <router-outlet></router-outlet>
      <div class="right-panel" [class.open]="isOpen">

  <button class="circle-toggle-btn" (click)="togglePanel()">
    <span class="fs-2 mb-2" *ngIf="isOpen">&raquo;</span>
    <span class="fs-2 mb-2" *ngIf="!isOpen">&laquo;</span>
  </button>

  <div class="panel-header px-3 py-2 border-bottom d-flex justify-content-between align-items-center">
    <strong>Validations</strong>
    <button class="btn-close" (click)="isOpen = false" aria-label="Close"></button>
  </div>
  <div class="panel-body p-3">
  </div>

</div>
    </div>
  </div>

</div>
