<div class="modal-header">
	<h5 class="modal-title">{{this.header}}</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<p>{{this.content}}</p>
</div>
<div class="modal-footer">
	<ng-container *ngIf="isYesOrNo">
		<button type="button" class="btn btn-sm btn-outline-secondary"
			(click)="activeModal.close('Close click')">No</button>
		<button type="button" class="btn btn-sm btn-outline-success" (click)="proceed()">Yes</button>
	</ng-container>
	<ng-container *ngIf="!isYesOrNo">
		<button type="button" class="btn btn-sm btn-outline-secondary"
			(click)="activeModal.close('Close click')">Cancel</button>
		<button type="button" class="btn btn-sm btn-outline-danger" (click)="proceed()">Proceed</button>
	</ng-container>
</div>