<div class="m-5">
  <div class="m-5">
    <div class="d-flex align-items-center gap-3">
      <h4 class="mb-0">Apply for Leave</h4>
      <!-- <button type="button" class="btn btn-sm" (click)="enableEditing()"
        [ngClass]="isEditable ? 'btn-danger' :'btn-primary'">
        {{isEditable?'Cancel Apply' : 'Apply Here'}}
      </button> -->
      <!-- Apply Here -->
<button *ngIf="!isEditable" type="button" class="btn btn-sm btn-primary" (click)="startApplying()">
  Apply Here
</button>

<!-- Cancel Apply -->
<button *ngIf="isEditable" type="button" class="btn btn-sm btn-danger" (click)="cancelApplying()">
  Cancel Apply
</button>

    </div>

    <ng-scrollbar class="mt-2" style="height: 60vh;">
      <form class="mt-2" [formGroup]="leaveForm" (ngSubmit)="apply()">
        <div class="leave-form-grid">

          <div class="mt-4">
            <label for="leaveType" class="form-label">Leave Type</label>
            <select id="leaveType" formControlName="leaveType" class="form-select form-control" required
              [ngClass]="{ required: leaveForm.controls['leaveType'].errors && leaveForm.controls['leaveType']}">
              <option value="" disabled>Select Leave Type</option>
              <option *ngFor="let leaveType of leaveType$ | async" [ngValue]="leaveType.code">
                {{ leaveType.screenName }}
              </option>
            </select>

          </div>

          <div class="mt-4">
            <label for="fromDate" class="form-label">From Date</label>
            <input type="date" id="fromDate" class="form-control" formControlName="fromDate"
              [ngClass]="{ required: leaveForm.controls['fromDate'].errors && leaveForm.controls['fromDate']}" />
          </div>

          <div class="mt-4">
            <label for="toDate" class="form-label">To Date</label>
            <input type="date" id="toDate" class="form-control" formControlName="toDate"
              [min]="leaveForm.get('fromDate')?.value"
              [ngClass]="{ required: leaveForm.controls['toDate'].errors && leaveForm.controls['toDate']}" />
            <small class="text-danger" *ngIf="leaveForm.get('toDate')?.hasError('dateBeforeFromDate')">
              To Date cannot be before From Date.
            </small>
          </div>

          <div *ngIf="showTimeFields">
            <label class="form-label mt-2">From Time</label>
            <select class="form-select form-control" formControlName="fromTime" 
            [ngClass]="{ required: leaveForm.controls['fromTime'].errors && leaveForm.controls['fromTime']}">
              <option value="" disabled>Select From Time</option>
              <option *ngFor="let time of time$ | async" [ngValue]="time.code">
                {{ time.screenName }}
              </option>
            </select>
        
          </div>

          <div *ngIf="showTimeFields">
            <label class="form-label mt-2">To Time</label>
            <select class="form-select form-control" formControlName="toTime"
             [ngClass]="{ required: leaveForm.controls['toTime'].errors && leaveForm.controls['toTime']}" >
              <option value="" disabled>Select To Time</option>
              <option *ngFor="let time of time$ | async" [ngValue]="time.code">
                {{time.screenName}}
              </option>
            </select>
           
          </div>

          <div *ngIf="showTimeFields">
            <label class="form-label mt-2">Total Hours</label>
            <input type="number" class="form-control" formControlName="totalHours" readonly />
          </div>

          <div>
            <label class="form-label mt-2">Duration</label>
            <input type="text" class="form-control" formControlName="duration" readonly />
          </div>


          <div class="full-width mt-2">
            <label for="reason" class="form-label">Reason</label>
            <textarea id="reason" class="form-control" formControlName="reason" rows="3" maxlength="5000"
              [ngClass]="{ required: leaveForm.controls['reason'].errors && leaveForm.controls['reason']}"></textarea>
          </div>
        </div>


        <div class="buttons mt-4 justify-content-center">
          <button type="submit" class="btn submit" [disabled]=" !isEditable">
            Apply
          </button>
        </div>
      </form>
    </ng-scrollbar>


  </div>
</div>