<div class="m-5">
  <div class="m-5">
    <h4>Apply for Leave</h4>
    <form [formGroup]="leaveForm" (ngSubmit)="apply()">
      <div class="leave-form-grid">
        <!-- Leave Type -->
        <div class="mt-4">
          <label for="typeName" class="form-label">Leave Type</label>
          <select id="typeName" formControlName="typeName" class="form-select flex-grow-1 text-start form-control"
            required>
            <option value="" disabled>Select Leave Type</option>
            <option value="Casual">Casual</option>
            <option value="CompOff">Comp Off</option>
            <option value="LOP">LOP</option>
          </select>
        </div>

        <!-- Start Date -->
        <div class="mt-4">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" id="startDate" class="form-control" formControlName="startDate" />

        </div>

        <!-- End Date -->
        <div class="mt-4">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" id="endDate" class="form-control" formControlName="endDate" />

        </div>

        <!-- Reason -->
        <div class="full-width mt-2">
          <label for="reason" class="form-label">Reason</label>
          <textarea id="reason" class="form-control" formControlName="reason" rows="5" maxlength="5000"></textarea>
          <!-- <small class="text-danger" *ngIf="leaveForm.get('reason')?.touched && leaveForm.get('reason')?.invalid">
            Required
          </small> -->
        </div>
      </div>
    </form>
    <div class="buttons mt-4 justify-content-center">
      <button type="submit" class="btn submit" [disabled]="leaveForm.invalid">
        Submit
      </button>
    </div>
  </div>
</div>