<div class="m-5">
  <div class="m-5">
    <h4>Apply for Leave</h4>
    <form [formGroup]="leaveForm" (ngSubmit)="apply()">
      <div class="leave-form-grid">
        <div class="mt-4">
          <label for="typeName" class="form-label">Leave Type</label>
          <select id="typeName" formControlName="typeName" class="form-select flex-grow-1 text-start form-control"
            required>
            <option value="" disabled>Select Leave Type</option>
            <option *ngFor="let typeName of leaveType$|async" [ngValue]="typeName.code">
              {{typeName.screenName}}
            </option>
            <!-- <option value="Casual">Casual</option>
            <option value="CompOff">Comp Off</option>
            <option value="LOP">LOP</option> -->
          </select>
        </div>

        <div class="mt-4">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" id="startDate" class="form-control" formControlName="startDate" />

        </div>

        <div class="mt-4">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" id="endDate" class="form-control" formControlName="endDate" />

        </div>
          <div  *ngIf="showTimeFields">
            <label class="form-label mt-2">From Time</label>
            <input type="text" id="fromTime" class="form-control" formControlName="fromTime" />
          </div>
          <div *ngIf="showTimeFields">
            <label class="form-label mt-2">To Time</label>
            <input type="text" id="toTime" class="form-control" formControlName="toTime" />
          </div>
          <div *ngIf="showTimeFields">
            <label class="form-label mt-2">Total Hours</label>
            <input type="text" class="form-control" formControlName="totalHours" readonly />
          </div>


        <div class="full-width mt-2">
          <label for="reason" class="form-label">Reason</label>
          <textarea id="reason" class="form-control" formControlName="reason" rows="3" maxlength="5000"></textarea>
          <!-- <small class="text-danger" *ngIf="leaveForm.get('reason')?.touched && leaveForm.get('reason')?.invalid">
            Required
          </small> -->
        </div>
        
      </div>
      <div class="buttons mt-4 justify-content-center">
      <button type="submit" class="btn submit" [disabled]="leaveForm.invalid">
        Submit
      </button>
    </div>
    </form>
    
  </div>
</div>